/*Comentários*/

/*
nome do elemento(selector) {
    propriedades: valores;
}(declaration)

selectors: conectam elemento HTML com CSS
    Element/Type selector
    global *
    id #
    class .

Estilo lido de cima para baixo, caso selector com infos conflitantes
o mais embaixo é atribuido:
    origem do estilo: inline > tag style > tag link
    especificidade: cálculo matemático, cada tipo selector e origem de estilo possuem valores
        .universal selector, combinators e nagation pseudo-class = 0
        .type selector e pseudo-elements = 1
        .class e attributes selectors = 10
        .ID = 100
        .inline = 1000
    importância: !important - sobrescreve todo o resto (evitar uso)

At rules: regras comportamento:
@ identificador valor:
    @import - CSS externo
    @media - regras condicionais para vários dispositivos
    @font-face - fontes externas
    @keyframes - animations do CSS

#Tipo numéricos 
- <inerger> Numeros inteiros
- <number> Decimal
- <dimension> number com unidade junto: 90deg, 2s, 8px
- <percentage> fração de outro número

#Unidades comuns
<lenght> - valor de distância: px, em, vw
<angle> - ângulo: deg, rad, turn
<time> - tempo: s, ms
<resolution> resolução para dispositivos: dpi

#Distância absoluta - fixas não altera valor
1cm = 96px/2.54
1in(Inches - polegadas) = 2.54cm = 96px
1px = 1/96th of 1in

#Distância relativas a outro valor: elemento pai, root, tamanho da tela
-maior adaptação diferentes telas
em : relativo a tamanho font elemento pai
rem : ''' tamanho font elemento raiz (root/html)
vw : ''' 1% da viewport wid
vh : ''' 1% da viewport height

-font padrão navegador 16px
-viewport: parte tela exibida, janela/tela, o que está fora precisa scrollar

#Função - reaproveitamento de código
rgb(argumentos)
hsl()
url()
calc(100% - 40px)
*/

/*@import url()*/

* {
    margin: 0;
}

/* ID selector */
#container {
    width: 200px;
}

/* Class selector */
.m-40 {
    margin: 40px;
}

/* Element/Type selector + Agrupamento de seletores */
h1, h2 {
    color: blue;
    font-size: 60px;
    background: gray;
}

/* Funções CSS - entre parênteses recebe argumentos */
{
    color: rgb(255,0,100);
    width: calc(100% - 10px);
}


div {
    font-size: 16px;
}

p {
    font-size: 1.6em;
}

:root {

}

html {
    
}

li {
    font-size: 80%;
}

.box {
    height: 300px;
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: center;
}

.box :: after {
    content: "Isso é uma string"
}